.DS_store

## ignore pycache
.ipynb_checkpoints
__pycache__/

## ignore data files
*.txt
*.png
*.mp4
*.csv
*.pkl
*.tsv
*MATL*
*.b
*.xlsx

## ignore quiz, answer
*answer*
*quiz*

## ignore scrapy examples project
gmarket/
naver_article/
naver_movie/
playnomore/

## ignore shellscript 
*.sh